<h1>Tasks Page!</h1>

<form action="/tasks" method="POST">
    <input type="hidden" name="user_id" value="${user_id}">
    <label>Task name
        <input type="text" name="task_name" placeholder="Enter the name of your task here">
    </label>
    <label>Task Description
        <input type="text" name="task_description" placeholder="Enter the description of your task">
    </label>
    <button type="submit">CREATE TASK</button>


</form>

<div>
    ${task_data.map (task =>
        `
        <div>
            <h2>${task.task_name}</h2>
            <p>${task.task_description}</p>
            <p>Completed? ${task.completion_status}</p>
        </div>`
        ).join('')}
</div>